/**
 * Search page
 */

:root {
    --max-width: 800px;
    --search-primary-color: rgba(255, 255, 255,1);
}

.searchpage {
    display: flex;
    flex-direction: column;

    width: 100%;
    height: 100%;
}

.searchpage .top {
    position: relative;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 150px;

    background-color: var(--primary-color);
    box-shadow: var( --shadow );
}

.searchpage .top .logo {
    position: absolute;

    top: 58px;
    left: 50px;

    zoom: .5;
}

.searchpage .searchbar {
    width: var(--max-width);
}

.searchpage .searchbar .search {
    position: relative;
}

.searchpage .searchbar .bar {
    display: block;
    position: absolute;

    right: 0;
    bottom: 5px;

    width: 35px;
    height: 35px;

    border-radius: 50%;

    background-color: #fff;
    background-image: url( '../icons/search@x1.png' );
    background-position: center;
    background-repeat: no-repeat;

    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.14) 0px 2px 2px 0px, rgba(0, 0, 0, 0.12) 0px 1px 5px 0px, rgba(0, 0, 0, 0.2) 0px 3px 1px -2px;
}


.searchpage .searchbar input {
    font-size: 18px!important;
    color: var(--search-primary-color) !important;
}

.searchpage .searchbar input::-webkit-input-placeholder {
    color: var(--search-primary-color);
}

.searchpage .searchbar text-field text-field-state {
    border-top: none color(var(--search-primary-color) alpha(-20%)) !important;
    border-left: none color(var(--search-primary-color) alpha(-20%)) !important;
    border-right: none color(var(--search-primary-color) alpha(-20%)) !important;
    border-bottom: 2px solid color(var(--search-primary-color) alpha(-20%)) !important;
}

.searchpage .cost {
    display: flex;
    justify-content: center;

    width: 100%;
}

.searchpage .cost span {
    padding: 10px 0;
    width: 832px;
    font-size: .9rem;
    font-weight: 400;
}

.searchpage .searchresults {
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 100%;
}

.searchpage .searchresults .resultcard {
    display: flex;
    flex-direction: column;
    align-items: center;

    margin: 0 20%;
    margin-top: 30px;
    padding: 16px;

    width: var(--max-width);

    color: color( var(--text-color) alpha(-13%));
    background-color: var(--search-primary-color);

    border-radius: 2px;
    box-shadow: var( --shadow );
}

.searchpage .searchresults .resultcard:first-child {
    margin-top: 0;
}

.searchpage .searchresults .resultcard:hover {
    transition: all 450ms 0ms;
    box-shadow: 1px 1px 8px rgba(0, 0, 0, .16);
}

.searchpage .searchresults .resultcard .title {
    @apply --ellipsis;

    width: 100%;
    font-size: 1.4rem;
}

.searchpage .searchresults .resultcard .title a {
    color: color( var(--text-color) alpha(-13%));
    text-decoration: none;
}

.searchpage .searchresults .resultcard .desc {
    @apply --ellipsis;
    -webkit-line-clamp: 3;

    padding: 16px 0;

    color: color( var(--text-color) alpha(-46%));
    font-size: 1rem;
}

.searchpage .searchresults .resultcard .details {
    display: flex;
    flex-direction: row;

    width: 100%;

    color: color( var(--text-color) alpha(-46%));
    font-size: .8rem;
}

.searchpage .searchresults .resultcard .details a {
    color: var(--primary-color);

    text-transform: capitalize;
    text-decoration: none;
}

.searchpage .loading {
    display: flex;
    justify-content: center;

    margin-top: 30px;

    width: 100%;
}