:root {
    --primary-color: rgba(3, 169, 244, 1);
    --text-color: rgba(51, 51, 51, 1);
}

/**
 * Golbal style
 */

html {
    font: 300 16px/1.8 -apple-system, PingFang SC, Microsoft Yahei, Lantinghei SC, Hiragino Sans GB, Microsoft Sans Serif, WenQuanYi Micro Hei, sans-serif;

    color: var(--text-color);

    text-rendering: optimizelegibility;
    -webkit-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
}

body {
    margin: 0;
    padding: 0;

    background-color: #fafafa;
}

@import 'entry.css';
@import 'search.css';