:root {
    --primary-color: rgba(3, 169, 244, 1);
    --text-color: rgba(51, 51, 51, 1);
}

/**
 * Golbal style
 */

html {
    font: 300 16px/1.8 -apple-system, PingFang SC, Microsoft Yahei, Lantinghei SC, Hiragino Sans GB, Microsoft Sans Serif, WenQuanYi Micro Hei, sans-serif;

    color: var(--text-color);

    text-rendering: optimizelegibility;
    -webkit-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
}

body {
    margin: 0;
    padding: 0;

    background-color: #fafafa;
}

/**
 * Entry page
 */

.entry {
    display: flex;
    flex-direction: column;

    width: 100%;
    height: 100%;
}

.entry .logo {
    margin-top: 200px;
    margin-bottom: 50px;
    text-align: center;
}

.entry .search {
    position: relative;
}

.entry .searchbar {
    display: flex;
    justify-content: center;

    margin-bottom: 50px;
}

.entry .searchbar .bar {
    display: block;
    position: absolute;

    right: 5px;
    bottom: 15px;

    width: 20px;
    height: 20px;

    background-image: url( '../icons/search.png' );
    background-position: center;
    background-repeat: no-repeat;

    cursor: pointer;
}

.entry .desc {
    color: color( var(--text-color) alpha(-20%));
    font-size: .9rem;
    text-align: center;
}

.entry .desc a {
    color: var(--primary-color);
    text-decoration: none;
}

.entry .searchbar text-field {
    width: 400px!important;
}

.entry .searchbar  text-field text-field-state {
    border-top: none var(--primary-color) !important;
    border-left: none var(--primary-color) !important;
    border-right: none var(--primary-color) !important;
    border-bottom: 2px solid var(--primary-color) !important;
}

/**
 * Search page
 */
.searchpage {
    display: flex;
    flex-direction: column;

    width: 100%;
    height: 100%;
}

.searchpage .top {
    display: flex;
    flex-direction: row;
    align-items: center;

    width: 100%;
    height: 200px;

    background-color: var(--primary-color);
}

.searchpage .top .logo {
    padding: 0 50px;
    zoom: .5;
}

.searchpage .searchbar {
    width: 400px;
}

.searchpage .searchbar .search {
    position: relative;
}

.searchpage .searchbar .bar {
    display: block;
    position: absolute;

    right: 0;
    bottom: 5px;

    width: 35px;
    height: 35px;

    border-radius: 50%;

    background-color: #fff;
    background-image: url( '../icons/search@x1.png' );
    background-position: center;
    background-repeat: no-repeat;

    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.14) 0px 2px 2px 0px, rgba(0, 0, 0, 0.12) 0px 1px 5px 0px, rgba(0, 0, 0, 0.2) 0px 3px 1px -2px;
}


.searchpage .searchbar input {
    color: rgba(255, 255, 255,1) !important;
}

.searchpage .searchbar input::-webkit-input-placeholder {
    color: rgba(255, 255, 255,1);
}

.searchpage .searchbar  text-field text-field-state {
    border-top: none color(rgba(255, 255, 255,1) alpha(-20%)) !important;
    border-left: none color(rgba(255, 255, 255,1) alpha(-20%)) !important;
    border-right: none color(rgba(255, 255, 255,1) alpha(-20%)) !important;
    border-bottom: 2px solid color(rgba(255, 255, 255,1) alpha(-20%)) !important;
}

.searchpage .searchresults {
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 100%;
    height: 100%;
}

.searchpage .searchresults .resultcard {
    display: flex;
    flex-direction: column;
    align-items: center;

    margin: 0 20%;
    margin-top: 30px;
    padding: 16px;

    color: color( var(--text-color) alpha(-13%));

    border-radius: 2px;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 6px, rgba(0, 0, 0, 0.12) 0px 1px 4px;
}

.searchpage .searchresults .resultcard .title {
    font-size: 1.4rem;
}

.searchpage .searchresults .resultcard .title a {
    color: color( var(--text-color) alpha(-10%));
    text-decoration: none;
}